PORT=5053
KM_API_BASE_URL=https://wiki.vivo.xyz
TOKEN_STORE_FILE=./data/tokens.json
SKILL_STORE_FILE=./data/skills.json
STATS_STORE_FILE=./data/api-logs.json

# 九问翻译 Bot（用于 Skill 名称中文→英文翻译）
LLM_API_URL=http://jiuwen-api.vmic.xyz/v1/chat-messages
LLM_API_KEY=app-o9H3eKSdVRMxDH8KaVWqdboe
LLM_BOT_ID=77469